<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        https://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <!--配置包扫描，扫描到加注解的类自动创建bean组件-->
    <context:component-scan base-package="sml"/>


    <!--配置拦截器链-->
    <mvc:interceptors>
        <!--配置拦截器-->
        <mvc:interceptor>
            <!--拦截路径，可配置多个-->
            <mvc:mapping path="/*.form"/>
            <!--不拦截路径，即白名单，可配置多个-->
            <mvc:exclude-mapping path="/login.form"/>
            <bean class="sml.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>